<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{web.commonTitle}"></title>
</head>

<body>
<header th:replace="~{fragments/header :: header}"/>
<div align="center">
    <h1><span th:text="#{web.homeTitle}"/></h1>
</div>

<div align="center">
    <textarea readonly style="font-family: Times New Roman; font-size: 20px; " cols="100" maxlength="500" name="textFromForm" rows="40" th:text="#{web.homeInstruction}"/>
</div>

<div align="center">
    <h1><a th:href="@{__${T(textsVocal.web.utilsWeb.Mappings).SET_ANALYSIS_ATTRIBUTES}__}"
            th:text="#{web.homeStartButton}"/></a></h1>
</div>

<div align="center">
    <footer th:replace="~{fragments/footer :: footer}"/>
</div>

</body>

</html>
