<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{web.commonTitle}"></title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"/>

<div align="center">

    <form method="POST" enctype="multipart/form-data" action="setAnalysisAttributes">

        <p><b><span th:text="#{web.setAttributeText}"/></b></p>
        <textarea id="textFromForm" cols="80" maxlength="500" name="textFromForm" rows="25">
            </textarea>

        <p>
            <input
                    id="checkBoxThisIsProse"
                    type="checkbox"
                    name="checkBoxThisIsProse" th:text="#{web.setAttributeProse}"/>
        </p>


        <table>
            <tr>
                <td th:text="#{web.setAttributeUlpoadFile}"></td>
                <td><input type="file" name="file"/></td>
            </tr>
        </table>

        <br/>
        <table>
            <tr>
                <td th:text="#{web.setAttributePortionSeparator}">
                </td>
                <td><input type="String" name="portionsSepataror"/></td>
            </tr>
        </table>
        <br/>

        <tr>
            <td></td>
            <td><input type="submit" th:value="#{web.setAttributeSubmit}"/></td>
        </tr>
    </form>
</div>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div align="left">
    <a th:href="@{__${T(textsVocal.web.utilsWeb.ViewNames).HOME}__}" th:text="#{web.referenceToHome}"></a>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

<div align="center">
    <h2 th:text="${mistakeMessage}"/>
</div>

<div align="center">
    <footer th:replace="~{fragments/footer :: footer}"/>
</div>

</body>
</html>
