<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rythm structure</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"/>
<div align="center">
    <h3>Define, please, stress-schema for unknown words: with '1'(stress syllable) and '0"(without stress syllable).
        Without any other symbols </h3>
    <h3>Определите, пожалуйста, схему ударений в неизвестных словах: '1'(ударный) и '0"(безударный) слоги. Без
        каких-либо других символов </h3>

    <form method="POST" action="unknownWords">
        <table border="1">
            <tr>
                <td>
                    <span> For word (Для слова)</span></td>
                <td>
                    <span th:utext="${word}"></span></td>
            </tr>
            <tr>
                <td>
                    <span> Define stress-schema (Определите схему ударений)</span></td>
                <td><input type="text" name="stressSchema"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="Next (Далее)"/></td>
            </tr>
        </table>
    </form>

</div>

<div align="center">
    <footer th:replace="~{fragments/footer :: footer}"/>
</div>

</body>
</html>